<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <img src="./image/logo-mercado-liebre.jpg" alt="Logo" width="100px">
        <div>Lugar para poner la barra de busqueda</div>
        <div>Compra en cuotas y sin tarjeta de credito</div>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
            <li>Creá tu cuenta</li>
            <li>Ingresá</li>
            <li>Mis compras</li>
        </ul>

    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>