* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
h2 {
    font-size: 24px;
    color: #666;
}
p {
    font-size: 12px;
}
.price {
    font-size: 18px;
    display: inline-block;
    width: 30%;
}
.discount {
    font-size: 16px;
    color: green;
    display: inline-block;
}
.description {
    font-size: 16px;
    color: #666;
    display: none;
    margin-top: 15px;
}
.burger-menu{
    text-align: center;
}
.burger-menu .icon{
    font-size: 24px;
    padding:10px;
    border-radius: 4px;
    color: #d6d6d6;
    background-color: #1259c3;
    border: solid 1px #1259c3;
}
nav ul{
    padding: 0;
    display: none;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    color: #000000;
    text-decoration: none;
}
header{
    background-color: #EAC926;
}
.header-div-span{
    display: flex;
    justify-content: center;
}
#brand {
    width: 50%;
}
#brand-logo{
    min-width: 130px;
    max-width: 200px;
    padding: 10px;
}
footer{
    background-color: #ffffff;
    padding: 10px;
}
footer section article{
    text-align: center;
    margin: 20px;
    padding: 0 40px;
}
footer h3, footer p {
    margin: 0;
    color: #666;
}
footer i.icon{
    margin-bottom: 10px;
    font-size: 2em;
    color: #1259c3;
}
main{
    margin: auto;
    padding: 10px;
    background-color: #ebebeb;
}
main section article{
    background-color: white;
    margin: 10px;
}
.main-section-article-div{
    border-top: solid 1px #ebebeb;
    padding: 15px;
}
article img{
    display: block;
    width: 100%;
    margin: auto;
}
#shipping-logo{
    display: block;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: #39b54a solid 1px;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 16px;
    padding: 5px;
}

/*Tablet*/
@media (min-width:361px){
    header nav{
        display: flex;
        justify-content: space-between;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
        width: 40%;
    }
    .description{
        display: block;
    }
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }
}
@media (min-width:769px){

}
/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/