* {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 24px;
}
p {
    font-size: 12px;
}
/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/